h1{
    font-family: 'inter', 'san-serif';
    font-size: 49px;
    line-height: 56px;

   
}
body{

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#carla{

width: 348px;
margin: 0;


}
#carla img{

    margin-bottom: 72px;
}
h1 span{
    font-weight:bolder;
    color: #ff9900;
}